---
  name: Deployment (Auto)
  on:
    push:
      branches:
        - main

  jobs:
      deployment:
        name: Deployment
        uses: AdobeDocs/adp-devsite-workflow/.github/workflows/gatsby-deploy.yml@main
        secrets: inherit
        with:
          env: "prod"
          clean: true
          excludeSubfolder: ""
          index-mode: "index"
          TEMPLATE_ID_PROD: "67f544a30f73feac905f415c"
          NODE_OPTIONS: "--max-old-space-size=8192"
